<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>acerca-de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="acerca-de-content">
  <ion-card class="acerca-de-card">
    <img alt="Soy Julio" src="/assets/icon/julio.png" class="acerca-de-image" />
    <ion-card-header>
     
    </ion-card-header>
  
    <ion-card-content>
      <ul class="acerca-de-list">
        <ion-card-title>Quien soy?</ion-card-title>
        <br>
        <li><strong>Nombre:</strong> Julio Cesar</li>
        <li><strong>Apellido:</strong> Natera Fulgencio</li>
        <li><strong>Email:</strong> masterjulio0510@gmail.com</li>
        <li><strong>Celular:</strong> 809-608-0075</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
