.acerca-de-content {
  max-width: 100%;
  padding: 20px; 
}

.acerca-de-image {
  display: block;
  margin: 0 auto; 
}


.acerca-de-list {
  list-style-type: none; 
  padding: 0; 
  text-align: center; 
}

.acerca-de-list li {
  margin-bottom: 10px; 
}
